@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-border: var(--border);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);

  --font-geist-sans: var(--font-geist-sans);
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #e11d6a;
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --border: #e4e4e7;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #ffffff;
  --accent-foreground: #000000;

  --input: #ffffff;
  --ring: #e11d6a;

  --card: #ffffff;
}
